@import "tailwindcss";

:root {
  --color-text: #6E6E6E;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SatoshiBold';
    src: url('/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



:root{
    --bg-main: #070608;
    --bg-dots: #262428;
    --text-primary: #E94C83;
}

html:not(.dark){
    --bg-main: white;
    --bg-dots: #e0e0e0;
    --text-primary: #3F3FE8;
}


@theme {
    --color-background: var(--bg-main);
    --color-primary: var(--text-primary);
    --color-gray: #6E6E6E;

    --color-blue-400: #6565ED;
    --color-blue-500: #3F3FE8;
    --color-blue-600: #3232BA;

    --color-gray-300: #A8A8A8;
    --color-gray-400: #8B8B8B;
    --color-gray-500: #6E6E6E;
    --color-gray-600: #585858;

    --color-pink-400: #ED709C;
    --color-pink-500: #E94C83;
    --color-pink-600: #BA3D69;

    --font-bold: 'SatoshiBold', sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* o usar la variable de theme si la tienes: color: var(--color-white); */
  }
  
  body {
    color: var(--color-text);
  }

  p {
    color: var(--color-text);
  }
}

.title{
  @apply text-center text-5xl mb-32;
  font-family: 'SatoshiBold', sans-serif;
}

.link {
  @apply hover:text-primary transition cursor-pointer;
}

.tag {
  @apply text-sm text-gray-300 border-2 px-5 py-1 border-solid border-gray-300 rounded-full;
}

.button{
  @apply text-sm bg-primary text-white px-5 py-1 rounded-full
}

body {
  margin: 0;
  font-family: 'Satoshi', sans-serif;

  /* diameter of the circle */
   --d: 2px; 
   
   background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     var(--bg-dots)   calc(var(--d) - 1px), 
     var(--bg-main)  var(--d)
   ) 
   0 0 / 50px 50px;
}


main, footer {
  padding: 180px;
}

@media (max-width: 776px) {
  main, footer {
    padding: 30px;
  }
}

section:not(:last-child){
  margin-bottom: 240px;
}



#canvas-container{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
}
