@import "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@theme {
    /* Basándome en los colores que veo en tu captura */
    --color-background: #070608;
    --color-pink: #E94C83;
    --color-blue: #3F3FE8;

    /* Puedes definir una escala completa si la necesitas */
    --color-pink-400: #ED709C;
    --color-pink-500: #E94C83;
    --color-pink-600: #BA3D69;
}

.link {
  @apply hover:text-pink transition cursor-pointer;
}


body {
  margin: 0;
  color: white;

  font-family: 'Satoshi', sans-serif;

  /* diameter of the circle */
   --d: 2px; 
   
   background : radial-gradient(
     circle at 
        var(--d) 
        var(--d), 
        
     #262428   calc(var(--d) - 1px), 
     #070608  var(--d)
   ) 
   0 0 / 50px 50px;
}



#canvas-container{
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed;
}
